# Required variables
# - Fill in before beginning quickstart
# - Check variables.tf for variable type(includes defaults)
# ==========================================================

# AKS Cluster Name
aks_cluster_name = ""

# Azure Resource Group
resource_group_name = ""
