# Required variables
# - Fill in before beginning quickstart
# - Check variables.tf for variable type(includes defaults)
# ==========================================================


# Optional variables, uncomment to customize the quickstart
# ----------------------------------------------------------
# Azure Resource Group(default: otomi-quickstart-rg)
# resource_group_name = ""

# AKS Cluster Name (default: otomi-quickstart)
# cluster_name = ""