# Required variables
# - Fill in before beginning quickstart
# - Check variables.tf for variable type(includes defaults)
# ==========================================================

# Google Project ID
project_id = ""

# GCP Project Region
region     = ""