# Required variables
# - Fill in before beginning quickstart
# - Check variables.tf for variable type(includes defaults)
# ==========================================================

# GKE Cluster Name
gke_cluster_name = ""

# GCP Project Region
region     = ""