# Required variables
# - Fill in before beginning quickstart
# - Check variables.tf for variable type(includes defaults)
# ==========================================================

# Azure Subscription Id
az_subscription_id = ""

# Azure az_tenant_id Id
az_tenant_id = ""

# Optional variables, uncomment to customize the quickstart
# ----------------------------------------------------------

# Azure Resource Group
# resource_group_name = ""

# Azure Location
# location = ""
