# Required variables
# - Fill in before beginning quickstart
# - Check variables.tf for variable type(includes defaults)
# ==========================================================

# AWS Accounts
aws_accounts = ["222222222222"]

# AWS IAM Roles
aws_roles = [
  {
    rolearn  = "arn:aws:iam::222222222222:user1/username"
    username = "username"
    groups   = ["Admins"]
  },
]

# AWS IAM Users
aws_users = [
  {
    rolearn  = "arn:aws:iam::222222222222:user1/username"
    username = "username"
    groups   = ["Admin"]
  },
]

# EKS Cluster Name
cluster_name = ""

# Optional variables, uncomment to customize the quickstart
# ----------------------------------------------------------

# AWS region for all resources(default: eu-central-1)
# aws_region = ""

# Kubernetes version used for creating workload cluster(default: 1.20)
# cluster_version = ""
